/* nav{
    width:77%
} */

.home-subtitle{
    color:white;
    font-family: 'Merriweather', serif;
    font-size:1.8rem;
}

.home-intro{
    font-family: 'Merriweather', serif;
    font-size:1.1rem;
    color:rgb(177, 214, 238);
    text-shadow:rgb(194, 29, 29) .1rem .1rem .1rem;
}

.home-icon{
    font-size:4.5rem;
    margin-left: 7rem;
    justify-content: center;
}

.video{
    margin: 0 auto;
    justify-content: center;
    /* margin-left:5em; */
}

.button{
    color:#eb440c;
    border: #eb440c 1px solid;
    background-color: white;
    font-weight: 600;
}

.title-sub{
    font-family: 'Open Sans', sans-serif; 
    font-size:1.3rem; 
    justify-content:center;
    font-weight: 500;
    text-shadow:#065579 .1rem .1rem .1rem;
}

.title{
    text-shadow:#065579 .1rem .1rem .1rem;
    font-size:3.8rem;
}

h3 .title{
    font-size:2rem;
}