
html, body {
    margin: 0;
    padding: 0;
    width: 100%;

}

body {
    font-family: "Helvetica Neue",sans-serif;
    font-weight: lighter;
}

header {
    width: 100%;
    height: 100vh;
    background: url("./../photos/city.jpg") no-repeat 50% 50%;
    opacity: 100;
    background-size: cover;
}

.content {
    width: 94%;
    margin: auto;
    padding:2rem;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;    
    background-image: linear-gradient(white 80%, orange , red );
    padding-bottom: 5rem;
    width:100%;
}

.footer{
    background-color:#065579;
    color:white;
    height:10rem;
    margin-bottom:-2rem;
    width:auto;
}

.icon{
    display:flex;
    justify-content: center;
    margin:auto;
    margin-bottom: 1rem;
    z-index: -1;    
}

.intro{
    margin:12rem auto;
    color:white;
    font-family: 'Great Vibes', cursive;
    font-size:3em;
    justify-content:center;
}

.menu, .logo{
    font-size:1.6rem;
    font-weight:bold;
    text-shadow: 1px 1px black 
}

.statement{
    padding:3.5rem;
    color:white;
    background-color: #065579;
    /* 115672 cool blue color */
    font-family: "Helvetica Neue",sans-serif;
    font-size:1.1rem;
    border-bottom: 3px orangered solid;
}

.icons{
    margin:0 auto;
}


h3{
    display:flex;
    justify-content: center;
    color:#eb440c;
}

.logo {
    line-height: 50px;
    position: fixed;
    float: left;
    margin: 16px 46px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 2px;
    /* margin-top:1rem;
    margin-left:1rem; */
}

nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
    z-index:1;
}

nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
}

nav.black ul {
    background: rgb(7, 4, 36);
}

nav ul li {
    display: inline-block;
    padding: 16px 40px;;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    background: rgb(7, 4, 36);
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}
.open{
    position: absolute;
    height:40rem;
    width:2rem;
    color:whitesmoke;
    font-size:20px;
    margin:0 5rem;
}
.open2{
    justify-content: right;
    height:40rem;
    position:absolute;
    margin:0 15rem;
}

@media(max-width: 786px) {

    

    .row{
        margin-left:15px;
        margin-right: 15px;
    }
    .ser-title{
        margin-top:4rem;
    }
    .icons{
        justify-content: center;
    }
    .abt-header{
        height:180vh;
    }

    .card{
        width:14rem;
    }

    .services-header{
        height:40vh;
    }

    .cutaway{
        margin-top:5rem;
        margin: 5rem 1rem;
        widows: 50%;
        height: 50%;
        display:none;
    }
    
    .main{
        padding:0rem;
    }

    .bio-txt{
        font-size:.5rem;
        margin:.1rem .1rem;

    }

    .logo {
          position: fixed;
          top: 0;
          margin-top: 16px;
          line-height: 50px;
          font-size:14px;
          margin-left:10px;
    }

    .footer{
        height:16rem;
    }

    nav ul {
          max-height: 0px;
          background: rgb(7, 4, 36);
    }

    nav.black ul {
          background: rgb(7, 4, 36);
          z-index: -1;
    }

    .showing {
          max-height: 34em;
    }

    nav ul li {
          box-sizing: border-box;
          width: 100%;
          padding: 24px;
          text-align: center;
    }

    .menu-icon {
          display: block;
    }

}